# Dependencies
node_modules/

# Environment variables
.env
.env.*
.env*
.env.liv
.env.local
.env.production
# mac junk
.DS_Store
**/.DS_Store
# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Sensitive data
config/facebook-cookies.json
config/twitter-cookies.json
config/*.json

# Temporary files
temp/
tmp/
*.tmp

# Build artifacts
dist/
build/
